
<!doctype html>
    <html>
        <head>
                <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        </head>
        </head>
        <body>
            {% if likes_same_sport == True %}
            <h1> "Basket ball!"</h1>
            <p> I love this sport because it is a perfect sport</p>
            <h2> my favourite players are...</h2>
            <h3> the players</h3>
            <ul>
                {% for player in players %}
                <li> {{ player }}</li>
                {% endfor %}
            </ul>
            
                
            {% else %}
            <p> I love this sport because it is a perfect sport</p>
            
            {% endif %}



        </body>
    </html>
